// Primary
$color-primary-main-50: #FFF4E5;
$color-primary-main-150: #0DA69C;
$color-primary-main-100: #22bcb2;
$color-primary-main-250: #11746d;
$color-primary-contrast-dark-300: #363636;


// Shades
$color-shades-grey-200: #666666;
$color-shades-grey-150: #D1D5DB;
$color-shades-outline-150: #D1D5DB;
$color-shades-contrast-mid-light-200: #666666;
$color-shades-contrast-light-180: #8D8D8D;

$color-white: #FFFFFF;